/* Custom CSS for dark theme */

body {
    padding-top: 56px; /* Adjust for navbar height */
    background-color: #121212;
    color: #fff;
    font-family: 'Arial', sans-serif;
  }
  
  .navbar {
    transition: top 0.5s ease-in-out;
    background-color: #212121;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .navbar-nav .nav-link {
    color: #fff !important;
  }
  
  section {
    padding: 50px 0;
  }
  
  #hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('batu-gezer-MDPg0yw4M1c-unsplash.webp') center center / cover no-repeat;
    height: 100vh;
    color: #fff;
    will-change: opacity, transform;
  }
  
  .typed-text {
    color: #2196f3; /* Adjust for typed text color */
  }
  
  .cursor {
    display: inline-block;
    width: 8px;
    height: 1.2em;
    background-color: #2196f3; /* Adjust for cursor color */
    animation: blink 0.7s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .card {
    margin-bottom: 30px;
    will-change: opacity, transform;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  [data-aos] {
    will-change: opacity, transform;
  }
  